* {
  padding: 0;
  margin: 0;
}

body, main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  margin-right: 5px;
}

#image {
  width: 650px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  background-color: #ccc;
  padding: 3px 15px;
  cursor: default;
}
